{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titleblock %}
    <title>Gold Lavender Mobile Phones</title>
{% endblock %}

{% block cssblock %}

{% endblock %}

{% block bodyblock %}
    <!-- Search Section -->
    <section class="container">
        <form method="POST" class="mt-2">
            <div class="row justify-content-center align-items-end">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                    <input type="search" class="form-control" placeholder="Search (Model Name/JAN Code)">
                </div>
            </div>
        </form>
    </section>

    <!-- Product Section -->
    <section class="container">
        <div class="row gap-md-0 gap-3">
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card shadow" style="">
                    <img src="{% static 'images/image.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Phone Name</h5>
                        <h6 class="card-title">Brand Name</h6>
                        <p class="card-text">COlOR</p>
                        <p class="card-text">JAN CODE</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block jsblock %}

{% endblock %}