{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titleblock %}
    <title>Gold Lavender Mobile Phones</title>
{% endblock %}

{% block cssblock %}

{% endblock %}

{% block bodyblock %}
    <!-- Search Section -->
    <section class="container">
        <form class="mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                <input id="searchbar" type="search" class="form-control" placeholder="Search (Model Name/JAN Code)">
            </div>
        </form>
    </section>

    <!-- Product Section -->
    <section class="container">
        <div class="d-none" id="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row" style="gap: 10px 0px;" id="phones">
            {% for phone in phones %}
                <div class="col-12 col-md-3">
                    <div class="card shadow" style="">
                        <img src="{{ phone.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ phone.model_name }}</h5>
                            <h6 class="card-title">{{ phone.brand.name }}</h6>
                            <p class="card-text">{{ phone.colors }}</p>
                            <p class="card-text">{{ phone.jan_code }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block jsblock %}
    <script>
        let search = document.getElementById('searchbar');
        let phones = document.getElementById('phones');
        let loading = document.getElementById('loading');

        // Ajax Call
        $('#searchbar').keyup((e) => {
            phones.innerHTML = '';
            let searchValue = e.target.value
            let url = document.location.href
            $.ajax({
                url: `${url}api/phone/?search=${searchValue}`,
                type: "GET",
                beforeSend: function () {
                    phones.innerHTML = `<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>`
                },
                success: function (response) {
                    let ele = '';
                    if (response === undefined || response.length == 0) {
                        ele += `
                        <div class="d-flex justify-content-center">
    <h2>No Data Found</h2>
</div>
                        `
                    } else {
                        response.map(e => {
                            ele += `
                <div class="col-12 col-md-3">
                    <div class="card shadow" style="">
                        <img src="${e.image}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">${e.model_name}</h5>
                            <h6 class="card-title">${e.brand_name}</h6>
                            <p class="card-text">${e.colors}</p>
                            <p class="card-text">${e.jan_code}</p>
                        </div>
                    </div>
                </div>
                `
                        })
                    }
                    phones.innerHTML = ele;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    phones.innerHTML = `<div class=''>Loading.....</div>`
                    console.log(textStatus, errorThrown);
                }
            });
        })
        // Fetch Call
        {% comment %}search.addEventListener('keyup', (e) => {
            phones.innerHTML = '';
            let searchValue = e.target.value
            let url = document.location.href
            loading.classList.remove('d-none');
            fetch(`${url}api/phone/?search=${searchValue}`)
            .then(response => response.json())
            .then(response => {
                loading.classList.add('d-none');
                let ele = '';
                if (response === undefined || response.length == 0) {
                        ele += `
                        <div class="d-flex justify-content-center">
    <h2>No Data Found</h2>
</div>
                        `
                    } else {
                        response.map(e => {
                            ele += `
                <div class="col-12 col-md-3">
                    <div class="card shadow" style="">
                        <img src="${e.image}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">${e.model_name}</h5>
                            <h6 class="card-title">${e.brand_name}</h6>
                            <p class="card-text">${e.colors}</p>
                            <p class="card-text">${e.jan_code}</p>
                        </div>
                    </div>
                </div>
                `
                        })
                    }
                phones.innerHTML = ele;
            })
        }){% endcomment %}
    </script>
{% endblock %}