{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titleblock %}
    <title>Mobile Phones</title>
{% endblock %}

{% block cssblock %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

{% endblock %}

{% block bodyblock %}
    <section class="container my-2">
        <div class="d-flex my-2 justify-content-end">
            <div class="">
                <a href="{% url 'mobilephones:add-phone' %}" class="btn btn-primary">Add Phone</a>
            </div>
        </div>
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>No</th>
                <th>Image</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Colors</th>
                <th>JAN Code</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for phone in phones %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img class="img-fluid" style="width: 80px;" src="{{ phone.image.url }}" alt=""></td>
                    <td>{{ phone.brand.name }}</td>
                    <td>{{ phone.model_name }}</td>
                    <td>{{ phone.colors }}</td>
                    <td>{{ phone.jan_code }}</td>
                    <td><a href="{% url 'mobilephones:edit-phone' id=phone.id %}"><i
                            class="bi bi-pencil-square"></i></a></td>
                    <td><a href="{% url 'mobilephones:delete-phone' id=phone.id %}" class="text-danger"><i
                            class="bi bi-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>No</th>
                <th>Image</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Colors</th>
                <th>JAN Code</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </tfoot>
        </table>
    </section>
{% endblock %}

{% block jsblock %}
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
{% endblock %}